.img-carousel {
    height: 600px;
    object-fit: cover;
  }

  .preferencias {
    padding-top: 0.5%;
    padding-left: 16%;
    padding-right: 16%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5%;
  }
  
  .preco button,
  .ordenar select,
  .numeroEstrelas select,
  .avaliacao select {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 20px silver;
    background-color: #2f70ff;
    color: white;
  }

  .preco button:hover,
  .preco button:enabled{
    background-color: #2f70ff;
  }

  .ordenar select,
  .numeroEstrelas select,
  .avaliacao select {
    margin-top: 11px;
  }


  .ordenar select:hover,
  .numeroEstrelas select:hover,
  .avaliacao select:hover {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ced4da;
  }

  .numeroEstrelas select option,
  .avaliacao select option,
  .ordenar select option {
    background-color: white;
    color: black;
  }

  .preco label,
  .avaliacao label,
  .numeroEstrelas label,
  .ordenar label {
    display: block;
    margin-bottom: 5px;
  }

  .preco .dropdown-menu form{
    margin: 0;
  }

  .preco .dropdown-menu input{
    width: 100%;
    margin-bottom: 10px;
  }

  .preco .dropdown-menu button{
    width: 100%;
    background-color: #2f70ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .hotelContainer{
    margin-bottom: 2.5%;
    margin-right: 17%;
    margin-left: 17%;
    display: flex;
    justify-content: space-between;
    height: 200px;
    border: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 20px silver;
  }
  
  .hotel-img{
    width: 275px;
    height: 200px;
    object-fit: cover;
  }

  .hotel-img:hover{
    filter:brightness(1.5);
    filter: contrast(0.7);
    transition: 0.3s ease;
    cursor: pointer;
  }

  .hotelContainerText {
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hotelContainerText h1{
    font-size: 30px;
  }

  .hotelContainerText h2, h3, h4{
    font-size: 20px;
    text-decoration: none;
  }

  .verOferta {
    border: none;
    width: 40%;
    background-color: #2f70ff;
    font-size: 20px;
    color: white;
  }
  .verOferta:hover {
    color: #2f70ff;
    background-color: white;
    transition: 0.3s;
    transform: scale(1.1) ease;
  }
  .verOferta:hover,
  .verOferta:hover a {
    color: #2f70ff;
    transition: 0.3s;
  }
  .verOferta a{
    color: white;
    text-decoration: none;
  }

  .zoomed-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .zoomed-image {
    min-width: 80vw;
    min-height: 80vh;
    object-fit: contain;
    cursor: pointer;
  }
  

  @media (max-width: 1000px) {
    .preferencias {
      flex-direction: column !important;
    }

    .preco,
    .ordenar,
    .numeroEstrelas,
    .avaliacao {
      margin-bottom: 35px;
    }

    .hotelContainer {
      flex-direction: column;
      margin-right: 5%;
      margin-left: 5%;
      overflow: hidden;
      height: 500px;
    }

    .hotel-img {
      width: 100%;
      max-width: 100%; 
      height: 200px; 
      object-fit: cover;
      border-radius: 30px 30px 0 0;
    }

    .hotelContainerText {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
    }

    .verOferta {
      width: 100%;
      height: 150px;
      border-radius: 0 0 30px 30px;
    }
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgba(35, 57, 198, 0.863);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgba(24, 38, 131, 0.863);
  }
  